* {
    margin: 0;
    padding: 0;
}

.logo {
    width: 55px;
    height: 55px;
    border-radius: 100%;
    cursor: pointer;
}

.OurMission{
    font-family: 'PT Serif', serif;
}

.chapter {
    font-family: 'PT Serif', serif;
    color: #155fa3;
}

.chapter_home {
    font-family: 'PT Serif', serif;
    color: #155fa3;
    text-align: center;
}

p {
    font-family: 'PT Serif', serif;
    font-size: 17px;
    font-weight: 400;
}


@media only screen and (max-width: 700px), only screen and (max-device-width: 700px) {
    .textmedia {
        font-size: 14px;
    }
    .headerText{
        font-size: 20px;
    }
}
